.descriptionContainer {
  height: 90vh;
  background-color: #fff;
  /* background: linear-gradient(0.25turn, #bff5ee,#fff,#fff, #bff5ee); */
}

.descriptionContainer main {
  background-image: url('../../img/bacalhau.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}

.descriptionContainer .overlay {
  background-color: #ffffffaa;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionContainer main blockquote{
  font-size: 2.3rem;
  line-height: 2em;
  font-weight: bold;
  margin: 0;
  padding: 4px 12px;
}

.descriptionContainer main p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin: 0;
  padding: 6px 36px;
}

/* iPhone (most mobile) css */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .descriptionContainer {
    min-height: 90vh;
    background: none;
  }

  .descriptionContainer main div.overlay {
    justify-content: space-evenly;
  }

  .descriptionContainer main blockquote {
    font-size: 1.7rem;
  }

  .descriptionContainer main {
    background-position: center;
    background-size: contain;
    width: 100%;
    padding: 10px;
  }
}