div.MemberPage {
  width: 100%;
  min-height: 90vh;
  padding-top: 10vh;
}

main.memberMain {
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  min-height: 90vh;
}

/* iPhone (most mobile) css */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  main.memberMain {
    width: 100%;
    padding: 0 12px;
  }
}