div.tabContainer {
  padding-top: 50px;
  position: relative;
}

ul.tabList{
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}

li.tabButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  color: #b1b0b0;
  font-weight: bold;
}

li.tabButton.active {
  text-shadow: 3px -2px 5px #a0a0a0;
  color: #00AC96;
}

li.tabButton:hover{
  color: #00AC96;
}

li.tabButton:first-child::after {
  content: '';
  border-right: solid 5px #dadede;
  position: absolute;
  right: 0;
  height: 50%;
}

div.tabContent{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-items: center;
  align-items: center;
}

/* iPhone (most mobile) css */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  li.tabButton {
    width: 50%;
  }
}