div.menuContainer {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  padding-top: 50px;
}

.menuContainer button{
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  color: var(--main-theme-color);
}

.menuContainer button:focus{
  outline:none;
}

ul.videosMenu {
  width: 90%;
  margin: auto;
  list-style-type: none;
  overflow-x:scroll;
  white-space: nowrap;
  margin-block: 0 0;
  padding-inline-start: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

ul.videosMenu::-webkit-scrollbar {
  display:none;
}

ul.videosMenu li.menuItem {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33.3%;
}

ul.videosMenu li.menuItem span.itemName {
  cursor: pointer;
  color: #bbbbbb;
  font-size: 1.5rem;
}

ul.videosMenu li.menuItem.active span.itemName {
  cursor: text;
  font-weight: bold;
  color: var(--main-theme-color);
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  div.menuContainer {
    width: 90%;
  }

  ul.videosMenu li.menuItem{
    width: 50%;
  }

  ul.videosMenu li.menuItem span.itemName {
    font-size: 1.2rem;
  }
}